name: Build and Delivery

on:
  push:
    branches:
      - main
      - database-stage
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.event.ref == 'refs/heads/main'
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./django.Dockerfile
          push: true
          tags: 
            ${{ secrets.DOCKERHUB_USERNAME }}/dafo-backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/dafo-backend:${{ github.sha | slice(0, 7) }}

  db_build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.event.ref == 'refs/heads/database-stage'
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./mysql.Dockerfile
          push: true
          tags: 
            ${{ secrets.DOCKERHUB_USERNAME }}/dafodb:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/dafodb:${{ github.sha | slice(0, 7) }}
      
